<nav class="text-white text-base font-semibold pt-3">
  <a
    href="{% url 'accounts:dashboard' %}"
    class="flex items-center active-nav-link text-white py-4 pl-6 nav-item"
  >
    <i class="fas fa-table mr-3"></i>
    Inicio
  </a>
  {% if perms.app.add_user %}
  <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    Empleados
  </a>
  <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
    <i class="fas fa-tachometer-alt mr-3"></i>
    Horarios
  </a>
  <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
    <i class="fas fa-sticky-note mr-3"></i>
    Reportes
  </a>
  {% endif %}
</nav>
