{% extends 'index.html' %} {% block content %}
<h1 class="text-3xl font-bold italic text-center mt-20 mb-4 text-indigo-800">Inicia seción</h1>

<div class="mx-auto w-full max-w-[550px]">
  <form method="POST">
    {% csrf_token %} {{ signin_form }}
    <button
      class="rounded-md cursor-pointer bg-indigo-800 text-base text-white px-4 py-2 hover:bg-indigo-600"
    >
      Ingresar
    </button>
    {% for message in messages %}
    <h5 class="text-red-500 text-center text-lg">{{message}}</h5>
    {% endfor %}
  </form>
</div>
{% endblock %}
