{% extends 'index.html' %} {% block content %}
<h1 class="text-3xl font-bold italic text-center mt-20 mb-4 text-indigo-800">Inicia seción</h1>

<div>
  <style>
    h5 {
      color: red;
    }
  </style>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</div>

<div class="mx-auto w-full max-w-[550px]">
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button
      class="rounded-md cursor-pointer bg-indigo-800 text-base text-white px-4 py-2 hover:bg-indigo-600"
    >
      Ingresar
    </button>
  </form>
</div>
{% endblock %}
