{% extends 'accounts/base_dashboard.html' %} {% block content %}
<div class="bg-gray-100 font-family-karla flex">
  <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
      <a
        href="{% url 'accounts:dashboard' %}"
        class="text-white text-2xl font-semibold uppercase hover:text-gray-300"
        >FastAssitance</a
      >
    </div>
    {% include 'accounts/_sidebar.html' %}
    <a
      href="#"
      class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4"
    >
      <i class="fas fa-arrow-circle-up mr-3"></i>
      Settings
    </a>
  </aside>

  <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
    <!-- Desktop Header -->
    {% include 'accounts/_header.html' %}

    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
      <main class="w-full flex-grow p-6">
        <div class="flex items-center justify-center p-12">
          <div class="mx-auto w-full max-w-[550px]">
            <form method="POST" accept="image/*" enctype="multipart/form-data">
              {% csrf_token %} {{ form }}
              <hr />
              {% if user.role == 'AD'%}
              <label for="id_is_admin">¿Usuario aminstradors?</label>
              <input type="checkbox" id="id_is_admin" name="is_admin" class="mb-5 ml-3" />
              {% endif %}
              <div>
                <button
                  class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
                >
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>

      <footer class="w-full bg-white text-right p-4">
        Built by
        <a target="_blank" href="https://www.linkedin.com/in/dylansuarez/" class="underline">DyEsSuCr</a>.
      </footer>
    </div>
  </div>
</div>
{% endblock %}
